__pycache__/
.DS_Store
.ipynb_checkpoints/

data/raw/*
data/processed/*
outputs/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
!outputs/cleaning_summary.md
!outputs/county_assignment_summary.md
!outputs/offices_without_county_match.csv
!outputs/county_office_access_base_summary.md
