__pycache__/
.DS_Store
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/manual/NCHSurb-rural-codes.csv
outputs/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
!outputs/cleaning_summary.md
!outputs/county_assignment_summary.md
!outputs/offices_without_county_match.csv
!outputs/acs_access_indicators_summary.md
!outputs/county_office_access_base_summary.md
!outputs/rural_urban_classification_summary.md
